@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@200&display=swap');

.Skillcontent
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
   
}
.skillcontent_text > h2

{
    font-size: 30px;
    
}

.skillcontent_text
{
    color:white;
    flex:0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 30px;

}
.skillcontent_text > h2
{
    margin-bottom: 20px;
}

.skillcontent_image
{
    flex:0.4;
    min-width: 400px;
    text-align: center;
    margin-right: 100px;
    
}

.skillcontent_image > img{
    width: 600px;
    border-radius: 2px;
    object-fit: contain;
    
}

.skillcontent-skillset >h5
{
    font-family: "Monserrat",sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
    
}

.skillcontent_slider > .MuiLinearProgress-colorPrimary
{
    background-color: hsl(347, 96%, 49%) !important;
}

/*.skillcontent_slider1 >a >.MuiLinearProgress-colorPrimary >.MuiLinearProgress-barcolorPrimary
{

    background-color: hwb(351 93% 4%);
}*/















